@media screen and (max-width:950px) and (min-width:766px){
    body .first .content .intro{
    font-size: 2.5em;
    }
    .first .content figure{
        width: 30%;
    }
    /* body .second{
        height: 105vh;
    } */
    /* .second h2{
        margin-bottom: 1em;
    } */
    body .second .content .aboutme p {
        color: var(--text-color);
        line-height: 34px;
        font-size: 1em;
        margin-bottom: 16px;
    }
    body .third .skillcard .card{
        height: 33%;
    }
}
@media screen and (max-width:765px){
    body .fourth .contactSection{
        flex-direction: column;
        gap: 50px;
     }
     body .contactForm{
        margin: auto;
         width: 97%;
         height: 90%;
     }
     body .contactDetails{
        width: 100%;
        padding: 0;
     }
}
@media screen and (max-width:765px) and (min-width:646px){
    body .first .content .intro{
    font-size: 1.9em;
    }
    body .second .content .img img {
        height: 90%;
    }
    body .second .content .aboutme p {
        color: var(--text-color);
        line-height: 34px;
        font-size: 1em;
        margin-bottom: 16px;
    }
    body .third .skillcard .card{
        height: 33%;
    }
}

@media screen and (max-width:646px) and (min-width:561px){
    body .first .content .intro{
    font-size: 1.7em;
    }
    
    body .second .content .img img {
        height: 90%;
    }
    body .second .content .aboutme p {
        color: var(--text-color);
        line-height: 34px;
        font-size: 1em;
        margin-bottom: 16px;
    }
    body .skillcard{
        column-gap: 1.4em;
    }
    body .third .skillcard .card{
        height: 30%;
    }
}

@media screen and (max-width:560px) {
    
    body header nav{
        justify-content: space-evenly;
        gap: 50%;
    }
    body header nav .navbar{
        position: absolute;
        top: 100%;
        width: 100vw;
        /* height: 55px; */
        justify-content: space-evenly;
        /* border: 1px solid black; */
    }
    body .first{
        height: 82vh;
    }
    body .first .left{
        /* height: 80vh; */
        padding: 10px 20px;
    }
    body .first .content{
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    body .first .content .intro{
        font-size: 1.8em;
        width: 100%;
        height: 100%;
        background: url('Images/output-onlinepngtools.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60% 60%;
    }
    body .first .content figure {
        display: none;
    }
    
    body .first .content figure .img1 {
        object-fit: cover;
        width: auto;
        height: auto;
    }
    body .first .right{
        padding: 7em 0;
    }
    
    body .second .content{
        flex-direction: column;
        height: 100%;
    }
    
    body .second .content .img {
        padding: 20px;
        width: 100%;
        height:50%;
    }
    body .second .content .img img {
        margin: auto;
        /* margin-top: 40px; */
        width: 60%;
        height: 100%;
    }
    body .second .content .aboutme  {
       width: 100%;
    }
    body .second .content .aboutme p {
        color: var(--text-color);
        line-height: 22px;
        font-size: .87em;
        margin-bottom: 10px;
    }
    body .second .content .aboutme .btn {
        width: 100%;
    }
    body .third .skillcard .card{
        height: 33%;
    }
    body #scrollTop {
        width: 3em;
        height: 3em;
        z-index: 10;
    }
    
}
@media screen and (max-width:470px) {
    body .third .skillcard .card{
        height: 23%;
    }
}
@media screen and (max-width:365px) and (min-width:285px){
    html{
        font-size: 13px;
    }
    body header nav{
        justify-content: space-evenly;
        gap: 50%;
    }
    body header nav .navbar{
        position: absolute;
        top: 100%;
        width: 100vw;
        /* height: 55px; */
        justify-content: space-evenly;
        /* border: 1px solid black; */
    }
    body header nav .navbar .navitems a{
        font-size: 1em;
    }
    body .first{
        height: 81vh;
    }
    body .first .left{
        /* height: 80vh; */
        padding: 10px 13px;
    }
    body .first .content{
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    body .first .content .intro{
        font-size: 1.7em;
        width: 100%;
        height: 100%;
        background: url('Images/output-onlinepngtools.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60% 60%;
    }
    body .first .content figure {
        display: none;
    }
    
    body .first .content figure .img1 {
        object-fit: cover;
        width: auto;
        height: auto;
    }
    body .first .right{
        padding: 8.8em 0;
    }
    
    body .second .content{
        flex-direction: column;
        height: 100%;
    }
    
    body .second .content .img {
        padding: 20px;
        width: 100%;
        height:50%;
    }
    body .second .content .img img {
        margin: auto;
        /* margin-top: 40px; */
        width: 60%;
        height: 100%;
    }
    body .second .content .aboutme  {
       width: 100%;
    }
    body .second .content .aboutme p {
        color: var(--text-color);
        line-height: 22px;
        font-size: .87em;
        margin-bottom: 10px;
    }
    body .second .content .aboutme .btn {
        width: 100%;
    }
    body .third .skillcard .card{
        height: 21%;
    }
    body #scrollTop {
        width: 3em;
        height: 3em;
        z-index: 10;
    }
    
}
@media screen and (max-width:284px){
    html{
        font-size: 13px;
    }
    body header nav{
        justify-content: space-evenly;
        gap: 50%;
    }
    body header nav .navbar{
        position: absolute;
        top: 100%;
        width: 100vw;
        /* height: 55px; */
        justify-content: space-evenly;
        /* border: 1px solid black; */
    }
    body .first{
        height: 81vh;
    }
    body .first .left{
        /* height: 80vh; */
        padding: 10px 12px;
    }
    body .first .content{
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    body .first .content .intro{
        font-size: 1.5em;
        width: 100%;
        height: 100%;
        background: url('Images/output-onlinepngtools.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60% 60%;
    }
    body .first .content figure {
        display: none;
    }
    
    body .first .content figure .img1 {
        object-fit: cover;
        width: auto;
        height: auto;
    }
    body .first .right{
        padding: 5.8em 0;
    }
    
    body .second .content{
        flex-direction: column;
        height: 100%;
    }
    
    body .second .content .img {
        padding: 20px;
        width: 100%;
        height:50%;
    }
    body .second .content .img img {
        margin: auto;
        /* margin-top: 40px; */
        width: 60%;
        height: 100%;
    }
    body .second .content .aboutme  {
       width: 100%;
    }
    body .second .content .aboutme p {
        color: var(--text-color);
        line-height: 22px;
        font-size: .87em;
        margin-bottom: 10px;
    }
    body .second .content .aboutme .btn {
        width: 100%;
    }
    
    body #scrollTop {
        width: 3em;
        height: 3em;
        z-index: 10;
    }
    body header nav .navbar .navitems a{
        font-size: .75em;
    }
    body .third .skillcard .card {
        height: 21%;
    }
    body .contactDetails .info h4{
        font-size: 22px;
    }
    body .contactDetails .info p{
        font-size: 16px;
    }
    body .contactForm{
        padding: 0 1px;
    }

    .contactForm form div:last-child button:last-child{
        display: none;
    }
}
@media screen and (min-height: 300px) and (max-height:500px) {
    body .first .right{
        padding: 4.6em 0;
    }
}

/* @media screen and (min-height: 501px) and (max-height:750px) {
    body .first .right{
        padding: 5.5em 0;
    }
} */
/* @media screen and (min-height: 751px) and (max-height:900px) {
    body .first .right{
        padding: 7em 0;
    }
} */
/* @media screen and (min-height: 901px) and (max-height:1200px) {
    body .first .right{
        padding: 8em 0;
    }
} */