.second .content {
    display: flex;
    height: 68vh;
}

.second .content .img {
    margin: 0 10px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.second .content .img img {
    height: inherit;
    width: 100%;
}

.second .content .aboutme {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 10px;
}

.second .content .aboutme p {
    color: var(--text-color);
    line-height: 42px;
    font-size: 1.5em;
    margin-bottom: 16px;
}

